


#buttons {
  background: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  margin: 10px;
  padding: 10px;
  background: red;
  border: 2px solid black;
}

#wins {
  padding: 10px;
  background: aqua;
  text-align: center;
}

#results {
  background: yellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.score {
  margin: 10px;
  padding: 10px;
  background: green;
}

#message {
  padding: 10px;
  background: purple;
  text-align: center;
}
